@import 'tailwindcss';

.active-tab {
  @apply bg-transparent cursor-default font-bold;
}

.inactive-tab {
  @apply bg-transparent;
}

.tabs > button:last-child {
  border-bottom-right-radius: 0 !important;
}

.tabs-container :first-child + * {
  @apply rounded-bl-none;
}

.unround {
  animation: unround 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes unround {
  0% {
    border-top-left-radius: var(--radius-xl);
  }
  100% {
    border-top-left-radius: 0;
  }
}
